input[type="text"],
input[type="date"],
input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn_holder {
  display: flex;
  justify-content: flex-end;
}
.btn_holder button {
  width: 30%;
}
