input[type=text], input[type=date],  input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .btn {
    width: 100%;
    background-color: #40005D;
    color: #FFF;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #FFF;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1rem;
  }
  
  .btn:hover {
    background-color: #40005D;
  }
  
 
  .btn_holder{
    display:flex;
    justify-content: flex-end;
  }
  .btn_holder button{
    width: 30%;
  }